body{
  background-color: #F9F6EE;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#header {
  margin-top: 20px;
  font-size: 64px;
  font-family: monospace;
  position: absolute;
  top: 0;
}


:root {
    --grid-cols: 1;
    --grid-rows: 1;
  }
  
  #container {
    display: grid;
    background-color: white;
    border: solid gray 2px;
    box-shadow: darkgray 10px 10px 10px;
    height: 500px;
    width: 500px;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
  }
  
  .grid-item {
    border: 1px solid #ddd;
  }

  .grid-item:hover {
    box-shadow: 1px 1px 5px 1px gray;
  }