body{
  background-color: #F9F6EE;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monospace;
}

#header {
  margin-top: 20px;
  font-size: 64px;
  font-weight: 900;
  position: absolute;
  top: 0;
}

#main {
  display: flex;
  justify-content: center;
  width: 100vw;
}

.settings {
  position: absolute;
  gap: 50px;
  left: 0;
  margin-left: 20rem;
  display: flex;
  flex-direction: column;
}

.buttons, .buttons2 {
  gap: 25px;
  display: flex;
  flex-direction: column;
}

.btn {
  padding: 10px;
  border: 2px solid gray;
}

button:hover {
  transform: scale(1.025);
}

.selected {
  background-color: #36454F;
  color: wheat;
  font-weight: bold;
  border: 2px solid black;
}

input {
  background-color: #F9F6EE;
  border-color: wheat;
  width: 150px;
  height: 150px;
  box-shadow: darkgray 5px 1px 10px;
}

input:active{
  box-shadow: darkgray 10px 1px 5px;
  transform: translateY(4px);
}

input:hover{
  transform: scale(1.025);
}

:root {
    --grid-cols: 1;
    --grid-rows: 1;
  }
  
  #container {
    display: grid;
    background-color: white;
    border: solid gray 2px;
    box-shadow: darkgray 10px 10px 10px;
    height: 500px;
    width: 500px;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
  }
  
  .grid-item {
    border: 1px solid #ddd;
  }

  .grid-item:hover {
    box-shadow: 1px 1px 5px 1px gray;
  }

  .buttons2 {
    position: absolute;
    right: 0;
    margin-right: 25rem;
  }

 .btn2 {
  width: 75px;
  height: 75px;
  font-size: large;
 }